/*
#############################################
Removing elements for mobile version
#############################################
*/

.nav-bar {
  display: none;
}

.heros-container {
  p {
    display: none;
  }
}

/*
#############################################
Responsive : Mobile first version
#############################################
*/

/* Header part */

.nav-logo-block {
  font-weight: 900;
  font-size: 1.3rem;
  padding: 1rem;
}

.header-image-hp {
  background-image: url(../../assets/images/tab-version/hero-tab.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1rem 0rem;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem;
}

/* Main part */
/* Flexbox in common */
main,
.services-container,
article,
.heros-container,
.hero-bg-text,
.clients-container,
.clt,
form,
footer,
.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main > Services part */
main {
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.services-container {
  padding: 1rem 0rem 3rem 0rem;
  gap: 1rem;
  max-width: 700px;

  article {
    justify-content: space-between;
    align-items: center;
    height: 18rem;
  }

  h3 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1.5rem;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.srv {
  padding: 1rem;
  border-radius: 1rem;
  border: solid 0.5px var(--primary-color);
}

/* Main > Heros part */
.heros-container {
  padding: 1rem 0rem;
  gap: 1rem;
  max-width: 700px;

  article {
    justify-content: flex-end;
    height: 15rem;
  }

  .hero-bg-text {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50%;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    justify-content: center;
  }

  .cat-card {
    background-image: url(../../assets/images/mobile-version/catastrophic-mob.jpg);
  }

  .carotte-card {
    background-image: url(../../assets/images/mobile-version/carotte-woman-mob.jpg);
  }

  .ultra-card {
    background-image: url(../../assets/images/mobile-version/ultraquenarde-mob.jpg);
  }

  .poulpy-card {
    background-image: url(../../assets/images/mobile-version/poulpy-mob.jpg);
  }

  .orang-card {
    background-image: url(../../assets/images/mobile-version/oran-wu-tang-clan-mob.jpg);
  }
  .superime-card {
    background-image: url(../../assets/images/mobile-version/superime-mob.jpg);
  }

  h3 {
    font-weight: 900;
    font-size: 1.4rem;
  }

  h4 {
    font-weight: 400;
    padding: 0.5rem;
  }
}

.hero {
  padding: 0rem;
  width: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.all-heros-cards {
  margin: 1rem 0rem 3rem 0rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Main > Clients testimony part */

.clients-container {
  gap: 1rem;
  padding: 1rem 0rem 3.5rem 0rem;
  max-width: 700px;
}

.clt {
  background-color: var(--secondary-color);
  justify-content: space-between;
  border-radius: 1rem;

  h4,
  p {
    padding: 1rem;
  }

  h4 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    font-weight: 900;
    font-size: 1.2rem;
  }

  p {
    font-style: italic;
  }
}

.clt-image {
  border: 0.5rem solid var(--primary-color);
  height: 21rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 15rem 15rem;
}
.tomb-card {
  background-image: url(../../assets/images/mobile-version/testimony-1-mob.jpg);
}

.jella-card {
  background-image: url(../../assets/images/mobile-version/testimony-2-mob.jpg);
}

.bob-card {
  background-image: url(../../assets/images/mobile-version/testimony-3-mob.jpg);
}

.coup-card {
  background-image: url(../../assets/images/mobile-version/testimony-4-mob.jpg);
}

/* Main > Form part */

.help-me-form {
  gap: 0.5rem;
  width: 100%;
  max-width: 700px;

  h2 {
    padding-bottom: 1rem;
  }
  input,
  select,
  textarea {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 1rem;
    width: 100%;
    height: 2.5rem;
    color: var(--lighter-color);
    text-align: center;
  }

  #help-type-service {
    text-align: center;
  }

  select {
    font-weight: 900;
  }

  textarea {
    height: 10rem;
    padding: 1rem;
    text-align: left;
  }

  label {
    font-weight: 900;
    font-size: 1.2rem;
  }

  .submit-form {
    margin: 1rem 0rem;
  }
}

input:focus,
select:focus,
textarea:focus {
  outline: solid 2px var(--primary-color);
}

/* Footer part */
footer {
  margin-top: 1rem;
  padding: 2rem 0rem;
  background: #847ecf;
  background: linear-gradient(
    201deg,
    rgba(132, 126, 207, 1) 0%,
    rgba(162, 155, 254, 1) 100%
  );
  border-radius: 26% 29% 0% 0% / 10% 9% 46% 45%;

  li {
    list-style: none;
  }

  p {
    padding-top: 2rem;
    text-align: center;
  }
}

.nav-btn {
  gap: 1rem;
}

/*
#############################################
Responsive : Tab version
#############################################
*/

@media screen and (min-width: 768px) {
  /* HEADER part */
  .nav-bar {
    display: block;
    li {
      list-style: none;
    }
  }

  .nav-logo-block {
    padding: 0.5rem 1rem;
  }

  .nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
  }

  .header-image-hp {
    margin: 1rem;
    background-image: url(../../assets/images/desktop-version/hero-desk.jpg);
  }

  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }

  /* MAIN part */
  main {
    padding: 0rem;
  }

  h2 {
    font-size: 1.8rem;
    position: relative;
    margin: 1rem;
  }

  h2::before,
  h2::after {
    content: "";
    background-color: var(--primary-color);
    height: 2px;
    width: 1.5rem;
    position: absolute;
    top: 1.5rem;
  }

  h2::before {
    left: -40px;
  }

  h2::after {
    right: -40px;
  }

  .services-container,
  .heros-container,
  .clients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: flex-end;
    padding: 0.5rem;
    max-width: 93%;
    margin-bottom: 2rem;
  }

  /* Heors cards*/
  .moral-card {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .heros-container {
    padding: 0rem;
  }

  .all-heros-cards {
    grid-column: span 2;
    justify-self: center;
    margin: 1rem;
  }

  .cat-card {
    background-image: url(../../assets/images//tab-version/catastrophic-tab.jpg);
  }

  .carotte-card {
    background-image: url(../../assets/images/tab-version/carotte-woman-tab.jpg);
  }

  .ultra-card {
    background-image: url(../../assets/images/tab-version/ultraquenarde-tab.jpg);
  }

  .poulpy-card {
    background-image: url(../../assets/images/tab-version/poulpy-tab.jpg);
  }

  .orang-card {
    background-image: url(../../assets/images/tab-version/oran-wu-tang-clan-tab.jpg);
  }
  .superime-card {
    background-image: url(../../assets/images/tab-version/superime-tab.jpg);
  }

  /* Client Testimony  */

  .clt {
    border-radius: 70rem 70rem 2rem 2rem;
  }

  .clt-image {
    border-radius: 70rem;
  }
  .tomb-card {
    background-image: url(../../assets/images/tab-version/testimony-1-desk.jpg);
  }

  .jella-card {
    background-image: url(../../assets/images/tab-version/testimony-2-desk.jpg);
  }

  .bob-card {
    background-image: url(../../assets/images/tab-version/testimony-3-tab.jpg);
  }

  .coup-card {
    background-image: url(../../assets/images/tab-version/testimony-4-tab.jpg);
  }

  /* FOOTER */
  footer {
    margin-top: 3rem;

    h2::before,
    h2::after {
      content: none;
    }

    .nav-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-weight: 400;
      gap: 2rem;
    }
  }
}
/*
#############################################
Responsive : Desktop version
#############################################
*/

@media screen and (min-width: 1024px) {
  /* NAV BAR */
  header {
    padding: 2rem;
  }

  .nav-logo-block {
    padding: 0rem;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header-image-hp {
    margin-top: 4rem;
  }

  /* Services part */
  h2 {
    margin: 4rem 0rem;
  }

  .services-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 15rem);
    max-width: inherit;
    justify-items: stretch;
    padding: 3rem;

    article {
      height: 100%;
    }
  }

  article.moving-card,
  article.party-card {
    padding: 4rem 0rem;
    justify-content: space-evenly;
  }

  .moving-card {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .delivery-card {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .traffic-card {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .moral-card {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .party-card {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  /* Heros part */
  .heros-container {
    grid-template-columns: repeat(3, 1fr);

    .hero-bg-text {
      height: 35%;
      padding: 0.2rem;
      gap: 0;
      justify-content: center;
    }

    h3,
    h4 {
      padding: 0;
    }

    .hero {
      height: 18rem;
    }
  }

  .all-heros-cards {
    grid-column: span 3;
    justify-self: center;
    margin: 1rem;
  }

  .cat-card {
    background-image: url(../../assets/images//desktop-version/catastrophic-desk.jpg);
  }

  .carotte-card {
    background-image: url(../../assets/images/desktop-version/carotte-woman-desk.jpg);
  }

  .ultra-card {
    background-image: url(../../assets/images/desktop-version/ultraquenarde-desk.jpg);
  }

  .poulpy-card {
    background-image: url(../../assets/images/desktop-version/poulpy-desk.jpg);
  }

  .orang-card {
    background-image: url(../../assets/images/desktop-version/oran-wu-tang-clan-desk.jpg);
  }
  .superime-card {
    background-image: url(../../assets/images/desktop-version/superime-desk.jpg);
  }
}
