/*Suppresion des élements inutiles pour la version mobile*/

.nav-bar {
  display: none;
}

.heros-container {
  p {
    display: none;
  }
}

/* Mise en page du header */

.nav-logo-block {
  font-weight: 900;
  font-size: 1.3rem;
  padding: 1rem;
}

.header-image-hp {
  background-image: url(../../assets/images/hero-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80dvh;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1rem 0rem;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem;
  }
}

/* Mise en page du main */
/* Application de flexbox commune */
main,
.services-container,
article,
.heros-container,
.hero-bg-text,
.clients-container,
.clt,
form,
footer,
.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main > Partie services */
main {
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.services-container {
  padding: 1rem 0rem 3rem 0rem;
  gap: 1rem;
  max-width: 700px;

  article {
    justify-content: space-between;
    align-items: center;
    height: 18rem;
  }

  h3 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1.5rem;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.srv {
  padding: 1rem;
  border-radius: 1rem;
  border: solid 0.5px var(--primary-color);
}

/* Main > Partie Heros */
.heros-container {
  padding: 1rem 0rem;
  gap: 1rem;
  max-width: 700px;

  article {
    justify-content: flex-end;
    height: 15rem;
  }

  .hero-bg-text {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50%;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    justify-content: center;
  }

  .cat-card {
    background-image: url(../../assets/images/catastrophic.png);
  }

  .carotte-card {
    background-image: url(../../assets/images/carotte-woman.png);
  }

  .ultra-card {
    background-image: url(../../assets/images/ultraquenarde.png);
  }

  .poulpy-card {
    background-image: url(../../assets/images/poulpy.png);
  }

  .orang-card {
    background-image: url(../../assets/images/oran-wu-tang-clan.png);
  }
  .superime-card {
    background-image: url(../../assets/images/superime.png);
  }

  h3 {
    font-weight: 900;
    font-size: 1.4rem;
  }

  h4 {
    font-weight: 400;
  }
}

.hero {
  padding: 0rem;
  width: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-heros-cards {
  margin: 1rem 0rem 3rem 0rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Main > Temoignages clients */

.clients-container {
  gap: 1rem;
  padding: 1rem 0rem 3.5rem 0rem;
  max-width: 700px;
}

.clt {
  background-color: var(--secondary-color);
  justify-content: space-between;
  border-radius: 1rem;

  h4,
  p {
    padding: 1rem;
  }

  h4 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    font-weight: 900;
    font-size: 1.2rem;
  }

  p {
    font-style: italic;
  }
}

.clt-image {
  border: 0.5rem solid var(--primary-color);
  height: 21rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 15rem 15rem;
}
.tomb-card {
  background-image: url(../../assets/images/testimony-1.png);
}

.jella-card {
  background-image: url(../../assets/images/testimony-2.png);
}

.bob-card {
  background-image: url(../../assets/images/testimony-3.png);
}

.coup-card {
  background-image: url(../../assets/images/testimony-4.png);
}

/* Main > Fomulaire */

.help-me-form {
  gap: 0.5rem;
  width: 100%;
  max-width: 700px;

  h2 {
    padding-bottom: 1rem;
  }
  input,
  select,
  textarea {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius: 1rem;
    width: 100%;
    height: 2.5rem;
    color: var(--lighter-color);
    text-align: center;
  }

  select {
    font-weight: 900;
  }

  textarea {
    height: 10rem;
    padding: 1rem;
    text-align: left;
  }

  label {
    font-weight: 900;
    font-size: 1.2rem;
  }

  .submit-form {
    margin: 1rem 0rem;
  }
}

input:focus,
select:focus,
textarea:focus {
  outline: solid 2px var(--primary-color);
}

/* Mise en page du footer */
footer {
  margin-top: 1rem;
  padding: 2rem 0rem;
  background: #847ecf;
  background: linear-gradient(
    201deg,
    rgba(132, 126, 207, 1) 0%,
    rgba(162, 155, 254, 1) 100%
  );
  border-radius: 26% 29% 0% 0% / 10% 9% 46% 45%;

  li {
    list-style: none;
  }

  p {
    padding-top: 2rem;
  }
}

.nav-btn {
  gap: 1rem;
}
